$primary-dark: #111827;
$primary-dark-text-color: #9ca3af;
$primary-dark-active: #9ca3af;
$border-bottom-color: #4b4b4b;
$primary-night: #312e81;
$primary-light: #f3f4f6;
$primary-night: #4338ca;
$primary-night-text-color: #b4bbc7;
